@model Proyecto_P1_Raura_Cordero.Models.Resena

@{
    ViewData["Title"] = "Create";
}

<script src="C:\Users\cliente\Desktop\Proyecto P1 Raura Cordero\wwwroot\lib\ckeditor\ckeditor.js"></script>

<h1>Create</h1>

<h4>Resena</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Texto" class="control-label"></label>
                <div>
                    <textarea class="ckeditor" name="Texto"></textarea>
                    <!--<span asp-validation-for="Texto" class="text-danger"></span>-->
                </div>
            </div>
            <div class="form-group">
                <label asp-for="IdPelicula" class="control-label"></label>
                <select asp-for="IdPelicula" class ="form-control" asp-items="ViewBag.IdPelicula"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('.ckeditor'))
            .catch(error => {
                console.error(error);
            });
    </script>
}
